pkgbase = check-symlinks
	pkgdesc = Check for broken symlinks
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/jmelahman/check-symlinks
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	depends = gcc-libs
	source = check-symlinks::git+https://github.com/jmelahman/check-symlinks.git#commit=20c9a595ead56fb701182ed31c8ce120f7c3c9bb
	md5sums = SKIP

pkgname = check-symlinks
