pkgbase = python-dict2xml
	pkgdesc = Small utility to convert a python dictionary into an XML string
	pkgver = 1.7.4
	pkgrel = 1
	url = https://github.com/delfick/python-dict2xml
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-noseofyeti
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = python
	source = https://github.com/delfick/python-dict2xml/archive/release-1.7.4/python-dict2xml-1.7.4.tar.gz
	sha512sums = a16337774146a5c3acdd7930ca22bae139be184e78d0b3ee6982728c1737db1ad28dd4f7b8eccaeb5ab8b9e4a0a22a38c7d1e88c985a0186613a3b12880c5de7

pkgname = python-dict2xml
