pkgbase = pkglint
	pkgdesc = Security-focused linter for Arch Linux PKGBUILDs
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/jmelahman/pkglint
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	makedepends = git
	depends = glibc
	source = pkglint::git+https://github.com/jmelahman/pkglint.git#commit=cfa63d8e3d92aff83a6acc1112208e413a94930c
	md5sums = SKIP

pkgname = pkglint
