pkgbase = pkglint
	pkgdesc = Security-focused linter for Arch Linux PKGBUILDs
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/jmelahman/pkglint
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	makedepends = git
	depends = glibc
	source = pkglint::git+https://github.com/jmelahman/pkglint.git#commit=c664895546f143f402dffb4d7a8a6b4d007c1a85
	md5sums = SKIP

pkgname = pkglint
