pkgbase = pkglint
	pkgdesc = Security-focused linter for Arch Linux PKGBUILDs
	pkgver = 1.4.0
	pkgrel = 1
	url = https://github.com/jmelahman/pkglint
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	makedepends = git
	depends = glibc
	source = pkglint::git+https://github.com/jmelahman/pkglint.git#commit=0e9f324571bc2333b9f679679d25d8522f825a4a
	md5sums = SKIP

pkgname = pkglint
