pkgbase = cfnctl
	pkgdesc = Cfnctl brings the Terraform cli experience to AWS Cloudformation :cloud:
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/rogerwelin/cfnctl
	arch = x86_64
	arch = aarch64
	license = unknown
	makedepends = go
	makedepends = git
	depends = glibc
	source = git+https://github.com/rogerwelin/cfnctl.git#tag=v0.1.1
	sha256sums = SKIP

pkgname = cfnctl
